<div id="about">
  <p>Hi, my name is Albert Serven.</p>
  <p>
  I like algorithms, data structures and functional programing.
  </p>
  <p>
  I also advocate for Free Software. 
  </p>
  <p>You can find me or get in touch at:</p>
  <ul class="social-links">
    <li>
      <a
        class="social"
        title="email"
        href="mailto:&#97;&#108;&#98;&#101;&#114;&#116;&#64;&#115;&#101;&#114;&#118;&#101;&#110;&#46;&#99;&#97;&#116;"
        rel="noopener noreferrer"
      >
        <i class="fas fa-envelope-open"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="keybase"
        href="https://twitter.com/albert_serven"
        rel="noopener noreferrer"
      >
        <i class="fab fa-twitter"></i>
      </a>
    </li>

    <li>
      <a
        class="social"
        title="gitlab"
        href="https://gitlab.com/aserven"
        rel="noopener noreferrer"
      >
        <i class="fab fa-gitlab"></i>
      </a>
    </li>

  </ul>
  <p>
    This page is made with
    <a href="http://jaspervdj.be/hakyll/" rel="noopener noreferrer">Hakyll</a>
    and is
    <a
      href="https://gitlab.com/aserven/aserven.gitlab.io"
      rel="noopener noreferrer"
      >free software</a
    >.
  </p>
</div>
