<div id="posts-wr">
  $for(posts)$
  <div class="post-link-wr">
    <a class="post-link" href="$url$"><h2>$title$</h2></a><br />
    <div class="post-date">
      <div class="icon">
        <i class="fas fa-calendar-alt" title="posted on"></i>
      </div>
      $date$
    </div>
    <div class="post-reading-time">
      <div class="icon">
        <i class="fas fa-glasses" title="estimated reading time"></i>
      </div>
      $ert$
    </div>
  </div>
  $endfor$
  <div id="feed-link">
    <a href="/feed.xml" target="_blank"><i class="fas fa-rss"></i> feed</a>
  </div>
</div>
